<style type='text/css'>
.boldLabel {
	display: block;
	text-align: center;
	width: 100%;
}

.editor-label {
	padding-left: .4em;
	width: 90%;
}

.reportTime {
	font-family: Helvetica;
	font-size: 14px;
	border: none;
}

.testSuite-label {
	padding-left: 30px;
}

.panel-testCase>.panel-heading {
	color: #fff;
	background-color: #5bc0de;
	border-color: #4cae4c;
}
.date-control{
    display: block;
  width: 100% !important;
  min-width: 150px; 
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

</style>

<div class="editor-label">


    <div class="row">
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="date-control" uib-datepicker-popup="{{format}}" ng-model="dateFrom"  placeholder="Report :From Date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="date-control" uib-datepicker-popup="{{format}}" placeholder="Report: To Date" ng-model="dateTo" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      	<div class="col-md-3 col-md-push-1">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-search"></i>
				</div>
				<input type="text" class="form-control" placeholder="Search Report"		ng-model="searchReport">
			</div>
		</div>
    </div>

			

	<ui>
	<div
		ng-repeat="report in reports  | filter:searchReport | FilterByDate:dateFrom:dateTo">

		<li><uib-accordion close-others="oneAtATime"> <uib-accordion-group
				is-open="report.reportStatus.open"> <uib-accordion-heading>
			<span class="reportTime">{{report.projectName}} :
				{{report.reportDate | date:"MM/dd/yyyy 'at' h:mma"}}</span> </span> <i
				class="pull-right glyphicon"
				ng-class="{'glyphicon-chevron-down': report.reportStatus.open, 'glyphicon-chevron-right': !report.reportStatus.open}"></i>
			</uib-accordion-heading>


			<div ng-repeat="testSuite in report.testSuites | filter:searchReport"
				class="testSuite-label">

				<uib-accordion close-others="oneAtATime"> <uib-accordion-group
					is-open="testSuite.open"> <uib-accordion-heading>
				<span class="reportTime">Test Suite :
					{{testSuite.testSuiteName}} </span> <i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': testSuite.open, 'glyphicon-chevron-right': !testSuite.open}"></i>
				</uib-accordion-heading>

				<div
					ng-repeat="testCase in testSuite.testCases | filter:searchReport">
					<uib-accordion close-others="oneAtATime"> <uib-accordion-group
						template-url="template/accordion/accordion-group-testcase.html"
						is-open="status.open"> <uib-accordion-heading>
					<span class="reportTime">Test Case :
						{{testCase.testCaseName}} : {{testCase.testCaseDesc}}</span> <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading> <!-- <div ng-repeat="testStep in testCase.testSteps" class="boldLabel"> -->

					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<!-- <th ><span>Test Step</span></th> -->
								<th><span>Action</span></th>
								<th><span>Expected</span></th>
								<th><span>Actual</span></th>
								<th><span> <a href="#"
										ng-click="sortType = 'name'; sortReverse = !sortReverse">
											Status <span ng-show="sortType == 'name' && !sortReverse"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType == 'name' && sortReverse"
											class="fa fa-caret-up"></span>
									</a>
								</span></th>

							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="testStep in testCase.testSteps | orderBy:sortType:sortReverse | orderBy:filter">
								<!-- <td >{{testStep.testStepName}}</td> -->
								<td>{{testStep.action}}</td>
								<td>{{testStep.expected}}</td>
								<td>{{testStep.actual}}</td>
								<td>{{testStep.status}}</td>

							</tr>
							<tr>
								<td colspan="4" align="right">Test Case Executed in
									{{testCase.time}} seconds.</td>
							</tr>
						</tbody>
					</table>
					<!-- </div> --> </uib-accordion-group> </uib-accordion>
				</div>

				</uib-accordion-group> </uib-accordion>




			</div>
			</uib-accordion-group> </uib-accordion></li>
	</div>
	</ui>
</div>




