<style>
sup {
	font-size: 100%;
}
pre {
	width: 660px;
	border: 0px;
	font-size: 10px;
	padding: 3px;
}
</style>

<div ng-controller="testSuiteCtrl" style="">
	<div id="right" style="">
		<span>Test Suite:</span>
		<input ng-class="{'alert-success' : hideTxtBox}" type="text" id="newSuiteName" ng-readonly="hideTxtBox" ng-dblclick="setSuiteName()" ng-model="newSuiteName" ng-blur="makeSuiteNameStatic()" ng-keyup="$event.keyCode == 13 && makeSuiteNameStatic()" />
        <span ng-show="hideTxtBox"><sup>*</sup></span>
	</div>
	</br></br>
	<div id="left" style="">
		<button  onclick="alert('Functionality coming soon!');">+ Test Case</button>
	</div>
        
        <!--  
        <div>
            <ul>
                <li ng-repeat="elemnt in testsuiteelemnt">

                    <div>
                        <div id={{elemnt.id}} style="display:inline" >
                            <span  ng-model="elemnt.question" ng-hide="editorEnabled" ng-click="editorEnabled=true">
                                Test Suite: 
                            </span>
                            <div  ng-show="editorEnabled">
                                <input  ng-model="elemnt.question" ng-show="editorEnabled" >
                                <button href="#" ng-click="editorEnabled=false">Done editing</button>
                            </div>
                        </div>
                        <div style="display:inline">
                            <span>
                                <input type="text" ng-model="elemnt.answer" required/>
                            </span>
                        </div>
                        <span ng-hide="elemnt.length == 1">
                            <a href ng-click="testsuiteelemnt.splice($index, 1)">remove</a>
                        </span>
                    </div>
                    <hr/>
                </li>
            </ul>
            <button href ng-click="newItem($event)">+ Test Case</button>
        </div>
        <div id="displayitems" style="visibility:hidden;">
            {{testsuiteelemnt}}
        </div> 
        -->
        </br></br>
<span ng-show="hideTxtBox" ><pre><i>Note: <sup>*</sup> denotes that the Test Suite name is read-only. Please double click on it to edit the Test Suite name.</i></pre></span>
</div>

