<style>
sup {
	font-size: 100%;
}
pre {
	width: 335px;
	border: 0px;
	font-size: 10px;
	padding: 3px;
}
.form-control {
	width: 300px !important;
	display: inline;
	font-size: 12px;
}
ul {
	list-style: outside none none;
}
.alert-warning {
 border: 1px solid #faebcc;
 border-radius: 4px;
 margin: 5px;
}
button.close {
	padding-left: 25px;
}
</style>

<div ng-controller="testSuiteCtrl" style="">
	<div id="left" style="float:left;width: 560px;">
		<div id="testSuiteContainer">
			<label>New Test Suite:</label>
			<input ng-class="{'alert-success' : hideTxtBox}" type="text" id="newSuiteName" ng-readonly="hideTxtBox" ng-dblclick="setSuiteName()" ng-model="newSuiteName" ng-blur="makeSuiteNameStatic()" ng-keyup="$event.keyCode == 13 && makeSuiteNameStatic()" />
	        <span ng-show="hideTxtBox"><sup>*</sup></span>
		</div>
		</br></br>
		<div>
			<label>Enter new test case name:</label></br>
			<input class="form-control" ng-readonly="!hideTxtBox" ng-model="newTestCaseName"/>
			<button class="btn btn-success" ng-disabled="!hideTxtBox" ng-click="addNewTestCase()">+ Test Case</button>
		</div>
		</br></br>
		<div>
			<span ng-show="hideTxtBox" >
		<pre><i>Note: <sup>*</sup> denotes that the Test Suite name is read-only. 
Please double click on it to edit the Test Suite name.</i></pre></span>
		</div>
		
	</div>
	<div id="right" style="float: left; padding-right: 20px;">
		<label ng-show="hideTxtBox" class="btn btn-info">{{newSuiteName}}</label>
		<ol class="unstyled">
	        <li ng-class="{ 'alert-warning': hideTxtBox, 'alert-danger': !hideTxtBox }" style="padding: 5px;" ng-repeat="testCase in testCases">
	            <span>{{testCase.name}}</span>
	            <button ng-disabled="!hideTxtBox" class="close" ng-click="removeTestCase($index,testCase.name)" role="alert" type="button">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
	        </li>
	    </ol>
	</div>
	
	<div style="visibility: hidden; float:left;">
		<button class="btn btn-danger" ng-disabled="true" ng-click="alert('coming soon')">Save</button>
	</div>

</div>

