<head>
<link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<div id=row1 class="form-control;">
	<label id="pageLabel" class="element1">Domain</label> <select
		ng-model="project.domainName" id="pagedropdown"
		ng-change="DropDownDomains()" class="element2">
		<option ng-repeat="name in domains">{{name}}
	</select>
</div>

<br />

<div id=row2 class="form-control;">
	<label id="pageLabel" class="element1">Browser Type</label>
	<select ng-model="project.brwType" id="pagedropdown"
		ng-change="DropDownBrowsers()" class="element2">
		<option ng-repeat="name in browsers">{{name}}
	</select>
</div>


<br />

<div id=row3 class="form-control;">
	<label id="pageLabel" class="element1">PageName</label> <select
		ng-model="project.pageName" id="pagedropdown"
		ng-change="DropDownChnaged()" class="element2">
		<option ng-repeat="name in pagenames">{{name}}
	</select>
</div>
</br>

<div id=row4 style="margin-top: 10px" class="form-control;">
	<label id="pageLabel" class="element1">Test Suite
	</label> <select ng-model="selectedTestSuiteName" 
		ng-change="changeSuite(selectedTestSuiteName)" class="element2">
		<option ng-repeat="suite in testSuits">{{suite}}</option>
	</select>
</div>


<div id=row5 style="margin-top: 10px" class="form-control;">
	<label id="pageLabel" class="element1">Test Cases </label>
	<select ng-model="selectedCase" 
	ng-change="changeCase(selectedCase)" class="element2">
		<option ng-repeat="case in testCases">{{case.test_case}}</option>
	</select>
</div>

<div style="margin-top: 10px" >


	<div>
		<label id="pageelementLabel" class="element1">Page Element</label>
		<select multiple ng-multiple="true" ng:model="project.elementmodel"
			ng-options="element.name for element in elements" class="element2">
		</select>
	</div>


	<div ng-repeat="newelement in project.elementmodel">
		{{newelement}} <input type="text" ng-model="newelement.userinput" />
		<br />
	</div>

	<div >
		<label  class="element1">Expected Result</label>
			<input type="text" name="project.expectedresult" required="required"
			placeholder="expected result" class="element2"/>
	</div>

	<div >
		<button class="btn btn-success element1" ng-click="postHttpJSON()">Save</button>
		<!-- 				<button class="btn btn-primary"  ng-click="postHttpJSON()">testGet</button>		 -->
		<button class="btn btn-warning element1">Cancel</button>

	</div>

</div>