
<head>
<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
            <div ng-form="executionForm">
            
              
 		<div id=row0 style="margin-top: 10px">
            <label id="pageLabel">Test Suite : </label>
				<select ng-model="selectedSuite" ng-change="changeSuite(selectedSuite)">
		        	<option ng-repeat="suite in testSuits">{{suite}}</option>
		        </select>
			</div>


		<div id=row01 style="margin-top: 10px">
			<label id="pageLabel">Test Cases : </label> 
			<select
				ng-model="selectedCase">
				<option ng-repeat="case in testCases">{{case.test_case}}</option>
			</select>
		</div>

	  <button class="btn btn-success">Execute</button>
            